<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gaade.mobilize.com.aaade">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/customTheme">

        <provider
            android:name=".ContentProvider.ContentProviderDb"
            android:authorities="gaade.mobilize.com.aaade.ContentProvider.ContentProviderDb"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="true"
            android:writePermission="true"/>

        <activity
            android:name=".MainActivity"
            android:theme="@style/customTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddView"
            android:theme="@style/customTheme" />
        <activity
            android:name=".CustomViewActivity"
            android:theme="@style/customTheme" />
        <activity android:name=".ReciclerActivity" />
        <activity android:name=".DatabaseActivity"
            android:theme="@style/customTheme"></activity>
    </application>

</manifest>